.light-red {
    --black: oklch(11.376% 0.03943 263.678);
    --white: oklch(98.089% 0.0026 230.444);
    
    --black-foreground: var(--white);
    --white-foreground: var(--black);

    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);

    --primary: oklch(63% 0.18 25);
    --primary-foreground: var(--white);

    --secondary: oklch(13.269% 0.01839 255.305);
    --secondary-foreground: var(--white);

    --tertiary: oklch(98.663% 0.0021 14.256);
    --tertiary-foreground: var(--white);

    --destructive: oklch(63.7% 0.237 25.331);
    --destructive-foreground: oklch(0.205 0 0);

    --success: oklch(72.3% 0.219 149.579);
    --success-foreground: oklch(0.205 0 0);

    --warning: oklch(76.9% 0.188 70.08);
    --warning-foreground: oklch(0.205 0 0);

    --info: oklch(76.9% 0.188 70.08);
    --info-foreground: oklch(0.205 0 0);

    --rounded-component: 0rem;
    --rounded-card: 0.5rem;
}

.dark-red {
    --black: oklch(11.376% 0.03943 263.678);
    --white: oklch(98.089% 0.0026 230.444);
    
    --black-foreground: var(--white);
    --white-foreground: var(--black);

    --background: oklch(0.1822 0 0);
    --foreground: oklch(0.9889 0.004 286.33);

    --primary: oklch(68% 0.21 25);
    --primary-foreground: var(--white);

    --secondary: oklch(13.269% 0.01839 255.305);
    --secondary-foreground: var(--white);

    --tertiary: oklch(98.663% 0.0021 14.256);
    --tertiary-foreground: var(--white);

    --destructive: oklch(63.7% 0.237 25.331);
    --destructive-foreground: oklch(0.205 0 0);

    --success: oklch(72.3% 0.219 149.579);
    --success-foreground: oklch(0.205 0 0);

    --warning: oklch(76.9% 0.188 70.08);
    --warning-foreground: oklch(0.205 0 0);

    --info: oklch(76.9% 0.188 70.08);
    --info-foreground: oklch(0.205 0 0);

    --rounded-component: 0rem;
    --rounded-card: 0.5rem;
}